<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs >
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" tab="home">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Lista de Tarjetas</ion-label>
    </ion-tab-button>
    <ion-tab-button
      routerLinkActive="tab-selected"
      routerLink="/create-card"
      tab="create-card"
    >
    <ion-icon name="image-outline"></ion-icon>
      <ion-label>Agregar Tarjeta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
